{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}



<header class="header">
    {% for item in pc %}
    <h1 class="title">{{ item.title }}</h1>
    <img src="{{ item.photo.url }}" alt="{{ item.title }}" height="300px" class="img">
    <div class="content">{{ item.content }}</div>
    <ul class="category-list">
        <li class="li">{{ item.cpu }}</li>
        <li class="li">{{ item.gpu }}</li>
        <li class="li">{{ item.ram }} GB</li>
        <li class="li">{{ item.memory }} GB</li>
    </ul>
    <a class="link" href="{{ item.get_absolute_url }}">{{ item.price }} ₸</a>
    <hr class="hr-line">
    {% endfor %}
</header>




{% endblock %}