.header {
    display: block;
    width: 500px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.content {
    margin-bottom: 30px;
}

.title {
    margin-bottom: 30px;
}
.hr-line {
    margin: -30px auto 10px;
	padding: 0;
	height: 50px;
	border: none;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
	width: 95%;
}

.img {
    margin-bottom: 30px;
    border-radius: 2%;
}

.category-list * {transition: .4s linear;}
.category-list {
  background: white;
  list-style-type: circle;
  list-style-position: inside;
  padding: 0 10px;
  margin: 0;
  margin-bottom: 30px;
}
.category-list li {
  font-family: "Trebuchet MS", "Lucida Sans";
  border-bottom: 1px solid #efefef;
  padding: 10px 0;
}

.category-list li:hover a {color: #c93961;}
.category-list li:hover span {
  color: #c93961;
  border: 1px solid #c93961;
}

.link {
    text-decoration: none;
    color: #000000;
    font-size: 35px;
}
.link:hover {
    text-decoration: none;
    color: #cf0000;